*{
	margin: 0;
	padding: 0;
}
body{
	margin: auto;
	padding: 50px 50px;
	box-sizing: border-box;
	line-height: 40px;
	background: rgba(26,197,197,0.3)
}
p{
	font-size: large;
	background: rgba(50,138,50,0.5);
	margin: 3px;
	padding: 3px 3px;
	border: green 2px solid;
}
.result{
	float: right;
	margin: auto;
}
h1{
	font-family: verdana;
	font-size: xx-large;
	letter-spacing: 10px;
}
img{
	border:black 10px solid;
}

@media screen and (max-width: 1080px) {
	.result{
		width: 100%;
	}
	img{
		width: 80%;
	}
}
@media screen and( max-width: 600px) {
	img{
		width: 100%;
	}
	p{
		font-size: 350%; 
	}
	.imagen, .imagen1{
		width: 200px;
		height: 100px;
		display: block;
	}
}
.imagen{
	width: 400px;
	height:300px;
	float: left;
}
.imagen1{
	width: 400px;
	height: 300px;
	float: right;
}